/* Layout styles can also be divided into major and minor styles based on reuse. Major layout styles such as header and footer are traditionally styled using ID selectors but take the time to think about the elements that are common across all components of the page and use class selectors where appropriate. */

.clearfix {
  clear: both;
}

#page_header {
  position: fixed;
  width: 100%;
  background-color: rgba(14, 13, 12, 0.9);
  color: #f5f2e1;
  z-index: 20;
  /*justify-content: flex-start;*/
}

#text_container {
  padding-bottom: 4.5rem;
}

#page_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: .75rem;
  color: #f5f2e1;
  background-color: rgba(14, 13, 12, 0.7);

}

#page_footer a:link, #page_footer a:visited, #email-placeholder {
  color: #f5f2e1;
}

#page_footer a:hover {
  color: rgb(192, 57, 43);
}

@media only screen and (min-width: 730px) {
  #text_container {
    padding-bottom: 3rem;
  }
}

/* Cleanup of journal entries from github */
article h2 a, article h3 a, article h4 a, article h5 a {
  display: none;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  margin: 0.5em;
  font-family: monospace;
  border: 1px solid rgba(14, 13, 12, 0.7);
  border-radius: 5px;
  background: rgba(245, 242, 225, 0.8);
  width: auto;
}

.markdown-body {
  margin-bottom: 0;
  padding: 0;
}
