img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  font-family: "Sorts Mill Goudy", serif;
  color: #000;
  background: #272c28 url("../img/headband_narrow.jpg") no-repeat fixed left top;
  background-size: cover;
}

main {
  padding-top: 3.6em;
}



/* Text Styles */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p, article {
  font-size: 1em;
  padding: .4em .8em;
}

article {
  margin-bottom: 1em;
}

/* Link Styles */
a, a:link {
  color: #8e0602;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #630300;
}

#page_footer {
  color: #f5f2e1;
  background-color: rgba(14, 13, 12, 0.7);
}

#page_footer a:link, #page_footer a:visited {
  color: #f5f2e1;
}
