/* Base styles include setting heading sizes, default link styles, default font styles, and body backgrounds. There should be no need to use !important in a Base style. */

img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  font-family: "Biryani", sans-serif;
  color: #000;
  background: #f5f2e1 url("../img/headband_narrow.jpg") no-repeat fixed left top;
  background-size: cover;
}

main {
  background: rgba(245, 242, 225, 0.3);
  background: linear-gradient(rgba(245, 242, 225, 0.3) 80%, rgba(0, 0, 0, 1));
  padding-top: 3.6em;
  padding-bottom: 4em;
  min-width: 320px;
  overflow: auto;
}

/* Text Styles */
h1 {
  font-family: "Rakkas", cursive;
  font-size: 2em;
  letter-spacing: 0.075em;
}

h2 {
  font-family: "Rakkas", cursive;
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 1.25em;
  letter-spacing: 0.05em;
}

p, article {
  font-size: 1em;
  padding: .4em .8em;
}

article {
  margin-bottom: 1em;
}

/* Link Styles */
a, a:link {
  color: #8e0602;
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: #630300;
}

@media only screen and (min-width: 685px) {
  body {
    background: #272c28 url("../img/headband_wide.jpg") no-repeat fixed center top;
    background-size: cover;
  }

 main {
   background: rgba(245, 242, 225, 0.3);
   background: linear-gradient(rgba(245, 242, 225, 0.3) 80%, rgba(255, 255, 255, 0));
   padding-top: 6em;
   padding-bottom: 2em;
}

 h1 {
   font-family: "Rakkas", cursive;
   font-size: 2em;
   letter-spacing: 0.075em;
 }

 h2 {
   font-family: "Rakkas", cursive;
   font-size: 1.5em;
   letter-spacing: 0.075em;
 }

 h3 {
   font-size: 1.25em;
   letter-spacing: 0.075em;
 }
