img {
  max-width: 100%;
}

body {
  line-height: 1.5;
  font-size: 100%;
  font-family: "Sorts Mill Goudy", serif;
  color: #000;
  background: #272c28 url("../img/headband.jpg") no-repeat fixed left top;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4em;
}

/* Text Styles */
p {
  font-size: 1em;
  margin: .4em .8em;
}

/* Link Styles */
a, a:link {
  color: #8e0602;
  text-decoration: none;
}

a:visited {
  color: #630300;
}
