.clearfix {
  clear: both;
}

#page_header {
  position: fixed;
  width: 100%;
  background-color: rgba(14, 13, 12, 0.9);
  color: #f5f2e1;
  z-index: 20;
}

.post_header {
  position: relative;
}

.post_footer {
  font-style: italic;
}

.post_links li {
  display: inline;
  padding: 0 .2em;
}

.post_body li {
  font-size: 1em;
  margin: .4em .8em;
  list-style-type: disc;
  list-style-position: inside;
}

#page_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: .4em;
}

#filters {
  margin: .2em auto;
  width: 100%;
}

.ancient {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}

@media only screen and (min-width: 640px) {

}
