/* Main Nav */

.header_h1 {
  font-size: 2em;
  float: left;
  padding: .2em 0 .15em .35em;
}

.main-nav {
  position: absolute;
  right: .15em;
  width: 100%;
}

.main-nav div {
  font-size: 1.75em;
  margin: .15em;
  position: absolute;
  right: 0;
}

.main-nav ul {
  display: none;
  position: absolute;
  right: 0;
  top: 3.6em;
  width: 100%;
  z-index: 10;
  clear: both;
  list-style: none;
  padding: 0 .2em;
}

.main-nav li {
  background-color: rgba(245, 242, 225, 0.9);
  color: #630300;
  font-size: 1.5em;
  text-align: right;
  border-top: 1px solid #272c28;
  padding-right: .4em;
  padding-top: .25em;
  padding-bottom: .2em;
  width: 100%;
}

.main-nav li:hover, .main-nav li a:hover {
  color: rgb(245, 242, 225);
  background-color: #630300;
}

.media_icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 13%;
}

.media_icons li {
  flex-grow: .2;
  border: none;
  font-size: 1.5em;
}

.icon-menu {
  margin-top: .2em;
}

@media only screen and (min-width: 880px) {

  .header_h1 {
    font-size: 3em;
    padding: .3em .5em;
  }

  .icon-menu {
    display: none;
  }

  .main-nav {
    float: right;
    display: block;
    position: relative;
    width: 50%;
    font-family: "Rakkas", cursive;
  }

  .main-nav ul {
    display: flex;
    padding: 0;
    position: inherit;
    clear: both;
    top: 3.1em;
    justify-content: flex-end;
    float: right;
  }

  .main-nav li {
    color: rgba(245, 242, 225, 1);
    display: inline-block;
    border-top: none;
    background-color: transparent;
    padding: .3em .8em;
    float: right;
    width: auto;
  }

  .main-nav li a {
    padding-right: 0;
    color: rgba(245, 242, 225, 1);
  }
}

/* Posts Section Styles */

#filters {
  margin: .2em auto;
  width: 100%;
}

#filters li {
  width: 100%;
}

#category-filter {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1em;
  margin: .6em 0 .2em;
}

.post_header {
  position: relative;
}

.post_footer {
  font-style: italic;
}

.post_links li {
  display: inline;
  padding: 0 .2em;
}

.post_body li {
  font-size: 1em;
  margin: .4em .8em;
  list-style-type: disc;
  list-style-position: inside;
}

a:link .grey, a:visited .grey {
  color: #8c8880;
}

@media only screen and (min-width: 880px) {
  #category-filter {
    font-family: "Sorts Mill Goudy", serif;
    font-size: 1em;
    margin: .6em 1em .2em;
  }
}

/* About Section Styles */

#about img {
  border-radius: 50%;
  display: block;
  max-height: 45%;
  max-width: 45%;
  margin: 7% auto 1em;
}

#about h2 {
  text-align: center;
}

#about p {
  padding-bottom: 2em;
  font-size: 1.1em;
  background: rgba(245, 242, 225, .7);
}

/* Home Section Styles */
#home div {
  position: relative;
  float: left;
}

#home p {
  position: absolute;
  font-size: 2em;
  top: .5em;
}

#home img  {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  vertical-align: middle;
}

.white_text {
  color: #fff;
}
