.header_h1 {
  font-size: 2em;
  float: left;
  padding: 0 0 .15em .15em;
}

.main-nav {
  position: absolute;
  right: .15em;
  width: 100%;
}

.main-nav ul {
  display: none;
  padding: 0 .2em;
  list-style: none;
  clear: both;
  position: absolute;
  right: 0;
  top: 3em;
  z-index: 10;
  width: 100%;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  font-size: 1.5em;
  padding: .3em .2em;
  text-align: right;
  border-top: 1px solid #272c28;
  background-color: rgba(245, 242, 225, 0.9);
  width: 100%;
}

.main-nav li a {
  padding-right: .4em;
}

.media_icons {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 13%;
}

.media_icons li {
  flex-grow: .2;
  border: none;
  font-size: 1.5em;
}

.icon-menu {
  font-size: 2em;
  margin: .15em;
  position: absolute;
  right: 0;
}

.github-icon {
  height: 24px;
  width: 24px;
}

#posts div {
  border: 1px 0 solid #272c28;
}

.template {
  display: none;
}

a:link .grey {
  color: #8c8880;
}

@media only screen and (min-width: 640px) {
  body {
    background: #272c28 url("../img/headband.jpg") no-repeat fixed center top;
  }

  header, main, footer {
    max-width: 1000px;
    margin: 0 auto;
  }

  .header_h1 {
    font-size: 2em;
    float: left;
    padding: 0 0 .2em .2em;
  }

  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .5em;
    width: 0 auto;
  }

  .main-nav ul {
    float: right;
    display: block;
    padding: 0;
    list-style: none;
    clear: both;
  }

  .main-nav li {
    display: inline;
    border-top: none;
    margin-left: 1em;
  }
}

/* About Page */

#about img {
  border-radius: 50%;
  display: block;
  max-height: 45%;
  max-width: 45%;
  margin: 7% auto 1em;
}

#about h2 {
  text-align: center;
}

#about p {
  padding-bottom: 2em;
  font-size: 1.1em;
  background: rgba(245, 242, 225, .7);
}

@media only screen and (min-width: 640px) {

}
